.Tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-elements);
  border-radius: var(--default-radius);
  box-shadow: var(--default-shadow-element);
  cursor: pointer;
  transition: all var(--default-timing-animation);
  color: var(--color-text);
  height: 100%;
  overflow: hidden;

  &__link {
    text-decoration: none;
  }

  &__top {
    flex: 1 1;
    display: flex;
  }

  &__bottom {
    padding: var(--default-padding);
    padding-bottom: calc(var(--default-padding) * 2);
    font-size: var(--font-size-small);
    line-height: 22px;
  }

  &__name {
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-extra-bold);
    margin-bottom: var(--default-padding);
  }

  &__label {
    font-weight: var(--font-weight-bold);
  }

  &__image {
    max-width: 100%;
  }
}