@import "../../mixins";

.Countries {
  &__content {
    @include content-style;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: calc(var(--default-padding) * 3);
    padding-bottom: calc(var(--default-padding) * 3);

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include fablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__emptyData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__emptyImage {
    opacity: .5;
    max-width: 600px;
    width: 100%;
  }

  &__emptyText {
    color: var(--color-input);
    font-size: var(--font-size-xLarge);
    font-weight: var(--font-weight-light);
    margin: var(--default-padding) 0;
  }
}
