@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;700;800&display=swap');

:root {
  --color-background: hsl(0, 0%, 98%);
  --color-elements: hsl(0, 0%, 100%);
  --color-text: hsl(200, 15%, 8%);
  --color-input: hsl(0, 0%, 52%);
  --color-active: red;
  --desktop-width: 1200px;
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-large: 18px;
  --font-size-xLarge: 24px;
  --font-weight-light: 300;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --default-padding: 20px;
  --default-timing-animation: .2s;
  --input-height: 56px;
  --default-radius: 5px;
  --default-shadow-element: 0 2px 5px 3px rgba(0, 0, 0, .04);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background);
  font-size: var(--font-size-normal);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-text);
  transition: background-color var(--default-timing-animation);

  @include mobile {
    --default-padding: 15px;
  }

  &--isDark {
    --color-background: hsl(207, 26%, 17%);
    --color-elements: hsl(209, 23%, 22%);
    --color-text: hsl(0, 0%, 100%);
  }
}

