@mixin content-style {
  flex: 1;
  max-width: var(--desktop-width);
  padding: 0 var(--default-padding);
  margin: 0 auto;
}

@mixin mobile {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin fablet {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}